




<div *ngIf="isWin == false">
  <table class="table">
    <tr *ngFor="let index of [0,1,2,3]">
      <td *ngFor="let i of indexArry[index]">
        <button class="button" (click)="clickCard(i)">{{cardsDown[i]}}</button>
      </td>
    </tr>
  </table>
  
  <br>
  <button (click)="restart()">restart</button>
  <p>{{numberStep}} number steps</p>
  <p>{{time}} second</p> 
</div>


<div *ngIf="isWin">
  <p>win</p>
  <p *ngIf="star!=null">{{star}} star</p> 
  <p>{{timeWin}} second</p> 
  <button (click)="restart()">play again</button>
</div>
