.center{
  text-align: center;
}

.input{
  text-align: center;
  margin-block-end: 1.5em;
  font-size: 1em;
  padding: 6px
}

.button{
  padding: 9px;
  margin-block-end: 1.5em;
}

.styled-table {
  display: inline-block;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: black;
  color: white;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}